extends layout

block content
  .profile-container
    h1 My Profile
    .profile-info
      if user
        p Email: #{user.email}
        p Role: #{user.role}

    script(src="/js/profile.js")
    
    if user && (user.role === 'teacher' || user.role === 'admin')
      form#profileForm(method="POST", action="/api/v1/users/profile?_method=PUT")
        .form-group
          label(for="lastName") Last Name
          if user.lastName
            input#lastName.form-control(type="text", name="lastName", value=user.lastName, required)
          else
            input#lastName.form-control(type="text", name="lastName", required)
        .form-group
          label(for="firstName") First Name
          if user.firstName
            input#firstName.form-control(type="text", name="firstName", value=user.firstName, required)
          else
            input#firstName.form-control(type="text", name="firstName", required)
        .form-group
          label(for="discipline") Discipline
          if user.discipline
            input#discipline.form-control(type="text", name="discipline", value=user.discipline, required)
          else
            input#discipline.form-control(type="text", name="discipline", required)
        button.btn(type="submit") Update Profile

    if user && user.role === 'student'
      form#profileForm(method="POST", action="/api/v1/users/profile?_method=PUT")
        .form-group
          label(for="lastName") Last Name
          if user.lastName
            input#lastName.form-control(type="text", name="lastName", value=user.lastName, required)
          else
            input#lastName.form-control(type="text", name="lastName", required)
        .form-group
          label(for="firstName") First Name
          if user.firstName
            input#firstName.form-control(type="text", name="firstName", value=user.firstName, required)
          else
            input#firstName.form-control(type="text", name="firstName", required)
        .form-group
          label(for="group") Group
          if user.group
            input#group.form-control(type="text", name="group", value=user.group, required)
          else
            input#group.form-control(type="text", name="group", required)
        button.btn(type="submit") Update Profile

    .change-password
      h2 Change Password
      form#changePasswordForm(method="POST", action="/api/v1/users/profile?_method=PUT")
        .form-group
          label(for="oldPassword") Old Password
          input#oldPassword.form-control(type="password", name="oldPassword", required)
        .form-group
          label(for="newPassword") New Password
          input#newPassword.form-control(type="password", name="newPassword", required)
        button.btn(type="submit") Update Password
