extends layout

block content
  .container.mt-4
    h1= test.title
    if test.description
      p.mb-3 Description: #{test.description}
    p Passing Score: #{test.passingScore}%
    hr
    each question, qIndex in test.questions
      .card.mb-3
        .card-body
          h5.card-title Question #{qIndex + 1}: #{question.questionText}
          ul.list-group
            each answer, aIndex in question.answers
              li.list-group-item
                if answer.isCorrect && user && (user.role === 'teacher' || user.role === 'admin')
                  strong= answer.text + " (Correct)"
                else
                  | #{answer.text}
